.Header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

.icons {
  padding: 10px;
  zoom: 1;
}
